<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <div id="app-header">
        <ul class="nav nav-pills">
          <li class="{{#active_tool.is_ui}}active{{/active_tool.is_ui}}">
            <a data-route="ui" href="#">UI</a>
          </li>
          {{!-- <li class="{{#active_tool.is_radio}}active{{/active_tool.is_radio}}">
            <a data-route="radio" href="#">Radio</a>
          </li> --}}
        </ul>
      </div>


      <div data-region="tool" class="col12">
        {{#hasLoadFailed}}
        <div class="panel">
          The app could not be found.
        </div>
        {{/hasLoadFailed}}
      </div>

    </div>
  </div>
</div>
