
<div class="app-layout-body col-xs-12">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="img/logo.png"></img>
          </a>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-6" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="{{#active_tool.is_ui}}active{{/active_tool.is_ui}}">
              <a data-route="ui" href="#">UI</a>
            </li>
            <li class="{{#active_tool.is_data}}active{{/active_tool.is_data}}">
              <a data-route="data" href="#">Data</a>
            </li>
            <li class="{{#active_tool.is_radio}}active{{/active_tool.is_radio}}">
              <a data-route="radio" href="#">Radio</a>
            </li>
            <li class="{{#active_tool.is_activity}}active{{/active_tool.is_activity}}">
              <a data-route="activity" href="#">Activity</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  <div data-region="tool" class="col12">
    {{#hasLoadFailed}}
    <div class="panel">
      <h3>Hey, we could not find your app!</h3>

      <p>When the page loads, we look for Backbone and Marionette on the window and inside of define calls</p>

      <p>If you're doing neither of those things, then you'll need to start the inspector manually at the top of the program</p>

      <code>
        __agent.start(Backbone, Marionette)
      </code>

      <p>If that doesn't work, come stop by https://gitter.im/MarionetteLabs/marionette.inspector and let us know.</p>
    </div>
    {{/hasLoadFailed}}
</div>
