<div class="container-fluid">
<div class="row">
  <div class="col-xs-8">
    <table class="table">
      <thead>
        <tr>
          <th>View</th>
          <th>Template</th>
          <th>Element</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Layout</td>
          <td>app-layout.mustache</td>
          <td>div.foo.bar</td>
          <td>AppData</td>
        </tr>
        <tr>
          <td>Header</td>
          <td>app-header.mustache</td>
          <td>div#header</td>
          <td>AppData</td>
        </tr>
        <tr>
          <td>List</td>
          <td>app-list.mustache</td>
          <td>ul.app-list</td>
          <td>ListData</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          UI
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Events
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Options
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
  </div
</div>
</div>
