<div class="sidebar-pane-stack flex-auto visible">

  <div class="sidebar-pane-title expanded" tabindex="0">
    Options
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#options}}
          <li title="" style="">
            <span class="name">{{option}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/options}}
        </ol>
      </div>
    </div>
  </div>


  <div class="sidebar-pane-title expanded" tabindex="1">
    UI
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#ui}}
          <li title="">
            <span class="name">{{ui}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined">
              {{{element}}}
            </span>
          </li>
          {{/ui}}
        </ol>
      </div>
    </div>
  </div>


  <div class="sidebar-pane-title expanded" tabindex="2">
    Events
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#events}}
          <li title="">
            <span class="name">{{event}}</span>
            <span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined">{{handler}}</span>
          </li>
          {{/events}}

        </ol>
      </div>
    </div>
  </div>

  <div class="sidebar-pane-title expanded" tabindex="3">
    Model
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#model}}
          {{#attributes}}
          <li title="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined">{{value}}</span>
          </li>
          {{/attributes}}
          {{/model}}
        </ol>
      </div>
    </div>
  </div>

</div>
