<div class="sidebar-pane-stack flex-auto visible">

  <div class="sidebar-pane-title expanded" tabindex="0">
    View
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol data-property-key="" class="properties properties-tree monospace">
          {{#each info}}
          <li data-property-name="{{name}}">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/each}}
          <li data-property-name="el">
            <span class="name">$el</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> [{{{el}}}] </span>
          </li>
          <li data-property-name="el">
            <span class="name">el</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{{el}}} </span>
          </li>
        </ol>
      </div>
    </div>
  </div>


  <div class="sidebar-pane-title expanded" tabindex="0">
    Options
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol data-property-key="options" class="properties properties-tree monospace">
          {{#each options}}
            {{> templates/devTools/partials/_property.html this}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>


  <div class="sidebar-pane-title expanded" tabindex="1">
    UI
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol data-property-key="ui" class="properties properties-tree monospace">
          {{#each ui}}
          <li data-property-name="{{name}}">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined">
              {{{value}}}
            </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>


  <div class="sidebar-pane-title expanded" tabindex="2">
    Events
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol data-property-key="" class="properties properties-tree monospace">
          {{#each events}}
          <li data-event="{{handler}}">
            <span class="name">{{event}}</span>
            <span class="separator">: </span>
            <span data-property-name={{handler}} class="value console-formatted-undefined" title="undefined">{{handler}}</span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

  <div class="sidebar-pane-title expanded" tabindex="3">
    Model
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#model}}
          {{#each attributes.serialized}}
          <li title="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined">{{value}}</span>
          </li>
          {{/each}}
          {{/model}}
        </ol>
      </div>
    </div>
  </div>

 {{#each ancestors}}
  <div class="sidebar-pane-title" tabindex="3">
    {{name}}
  </div>
  <div class="sidebar-pane">
    <div class="body">
      <div class="section">
        <ol data-property-key="{{path}}" class="properties properties-tree monospace">
          {{#each properties}}
            {{> templates/devTools/partials/_property.html this}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
  {{/each }}
</div>
