#app-header {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

#app-header ul.nav-pills > li.active a{
  color: #333;
  background-color: #fff;
}


body {
  height: 100%;
  padding-top: 50px;
  overflow:hidden;
}

[data-region="app-region"],
[view="app-layout"],
.app-layout-body,
[data-region="tool"],
[view="ui-layout"], [view="data-layout"] {
  height: inherit;
}

[data-region="view-list"], [data-region="view-more-info"],
[data-region="model-list"], [data-region="model-more-info"] {
  height: inherit;
  overflow-y: scroll;
}

[data-region="view-more-info"] {
  padding: 0;
}

.navbar-brand {
  padding-top: 10px;
}


.view-row:hover {
  cursor: pointer;
}