<div class="sidebar-pane-stack flex-auto visible">

  <div class="sidebar-pane-title expanded" tabindex="0">
    Model
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#each info}}
          <li title="" style="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

  {{#if _events}}
  <div class="sidebar-pane-title expanded" tabindex="0">
    Listeners
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#each _events}}
          <li title="" style="">
            <span class="name">{{eventName}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{context.inspect}} {{callback.inspect}} </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="sidebar-pane-title expanded" tabindex="0">
    Attributes
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#each attributes.serialized}}
          <li title="" style="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

 {{#unless changed.isEmpty}}
  <div class="sidebar-pane-title expanded" tabindex="0">
    Changed
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#each changed.serialized}}
          <li title="" style="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
  {{/unless}}

 {{#unless _previousAttributes.isEmpty}}
  <div class="sidebar-pane-title expanded" tabindex="0">
    Previous Attributes
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#each _previousAttributes.serialized}}
          <li title="" style="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
  {{/unless}}


  <div class="sidebar-pane-title expanded" tabindex="0">
    Properties
  </div>
  <div class="sidebar-pane visible">
    <div class="body">
      <div class="section expanded">
        <ol class="properties properties-tree monospace">
          {{#each properties}}
          <li title="" style="">
            <span class="name">{{name}}</span><span class="separator">: </span>
            <span class="value console-formatted-undefined" title="undefined"> {{value}} </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

</div>
