.data-list {
  .nav-tabs {
    margin-top: 14px;

    > li:first-child {
      margin-left: 8px;
    }
  }

  .model-row {
    position: relative;

    .right-button {
      position: relative;
    }

    &:hover {
      .right-button {
        display: block;
      }
    }
  }

}
