li.channel-row:hover, .model-row:hover {
  background: #f2f2f2;
}

// table used in data section
.table.tree {
    background-color: #fff;
}

// the container that wraps all lists on the left
.list-panel {
    border-right: 1px solid #e7e7e7;
}
