/*
 * The tree view is used in the UI pane to
 * show the region tree. It hopefully will also be used
 * in other places and could be open-sourced as a marionette tree view some day.
 *
*/

ul.tree-group {
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  // a very unscientific min-width until we fix some alignment/overlap issues
  min-width: 200px;
}

ul.is-collapsed > ul.tree-group {
  display: none;
}

ul.action-list {
  padding: 0;
}

ul.action-list > div.is-collapsed {
  div.event-tree {
    display: none;
  }
}

.example {
  width: 250px;
  height: 200px;
  overflow-y:scroll;
}

li.is-parent {
}

li.is-leaf {
  margin-left: 0;
}

li.tree-group-item, li.action-item {

  list-style: none;
  line-height: 35px;
  border-bottom: 1px solid #ddd;
  position: relative;

  &:hover {
    color: #428BCA;
    // cursor: pointer;
    background: #f2f2f2;
  }

  &.node-active {
    background: #428BCA;
    color: #f2f2f2;
  }

  .glyphicon {
    color: #888;
    padding-right: 5px;
    padding-left: 24px;
    &:hover {
      color: #428BCA;
      cursor: pointer;
    }
  }

  &.is-highlighted {
    background: #D9EDF7;
    &:hover {
      background: #D9EDF7;
    }
  }
}

li.action-item {
  .glyphicon {
    padding-left: 10px;
  }
}


.level-1 { margin-left: -24px; }
.level-2 { margin-left: -24px;  padding-left: 24px; }
.level-3 { margin-left: -24px;  padding-left: 48px; }
.level-4 { margin-left: -24px;  padding-left: 72px; }
.level-5 { margin-left: -24px;  padding-left: 96px; }
.level-6 { margin-left: -24px; padding-left: 120px;}
.level-7 { margin-left: -24px; padding-left: 144px;}
.level-8 { margin-left: -24px; padding-left: 168px;}
.level-9 { margin-left: -24px; padding-left: 192px;}

.level-10 { margin-left: -24px; padding-left: 216px;}
.level-11 { margin-left: -24px; padding-left: 240px;}
.level-12 { margin-left: -24px; padding-left: 264px;}

.level-13 { margin-left: -24px; padding-left: 288px;}
.level-14 { margin-left: -24px; padding-left: 312px;}
.level-15 { margin-left: -24px; padding-left: 336px;}
