// utils
@import "partials/tree-view";

// panels
@import "partials/data-panel";
@import "partials/activity-panel";
@import "partials/ui-panel";

// shared components
@import "partials/header";
@import "partials/panel-list";

// inspector files
@import "partials/inspector/_inspector";
@import "partials/inspector/_inspector-panel";
@import "partials/inspector/_inspector-sidebar";

html {
  height: 100%;
  padding-left: 20px;
}

body {
  height: 100%;
  padding-top: 50px;
  overflow:hidden;
}

// setup panel scrolling
.app, .app-layout, .app-layout-body, .app-tool-region, .app-tool {
  height: inherit;
}

.tool-panel {
  height: inherit;
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0;
}




